<div class="landing">
  <div class="container landing-items">
    <h1 class="big-text">Bullying is not Acceptable!</h1>
    <a
      [routerLink]="'/reports'"
      style="margin-right: 1em"
      class="cust-sec-btn button"
      >Report an Incident</a
    >
    <a [routerLink]="'/counselor'" class="cust-btn button"
      >Connect to Counselor</a
    >
  </div>
</div>
<div class="photo">
  <div class="container">
    <h3 class="photo-title tac">The Three S's of Bullying</h3>
    <div class="row">
      <div class="four columns photo-card">
        <h4 class="tac">Share</h4>
        <p class="tac">
          <!-- prettier-ignore -->
          If you ever feel that you are being bullied at school , the first step you must take is to share the instance/s with a person you trust. This person can be any of your teachers or school counsellor.
        </p>
      </div>
      <div class="four columns photo-card">
        <h4 class="tac">Stop</h4>
        <p class="tac">
          <!-- prettier-ignore -->
          You as a by-stander of a bullying situation,should intervene and try to handle the situation by stopping the bully. If you feel that is not in your capacity, you must report it to any school authority in your
          nearest vicinity.
        </p>
      </div>
      <div class="four columns photo-card">
        <h4 class="tac">Spread</h4>
        <p class="tac">
          <!-- prettier-ignore -->
          The most important step is to spread awareness about bullying and sensitising everyone not to indulge in such practices.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
