<footer class="u-full-width secondary footer">
  <div class="row container">
    <div style="margin-bottom: 1.5em" class="twelve columns">
      <span routerLink="/" style="cursor: pointer" class="logo heading">
        <img src="assets/images/logo.png" />
        K.R. Mangalam World School
      </span>
    </div>

    <div class="twelve columns">
      <h3 class="tac" style="margin: 0">Contact the initiator!</h3>
      <p class="tac">
        Krishya Khajanchi<br /><b
          ><a class="cursor:pointer" href="mailto:Krishyakhajanchi@gmail.com"
            >Krishyakhajanchi@gmail.com</a
          ></b
        >
      </p>
    </div>
  </div>
</footer>
